<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bank.project.oa.mapper.BookManageMapper">
  <resultMap id="BaseResultMap" type="com.bank.project.oa.domain.BookManage">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="press" jdbcType="VARCHAR" property="press" />
    <result column="summary" jdbcType="VARCHAR" property="summary" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, press, summary, status, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from oa_book_manage
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from oa_book_manage
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByIds" parameterType="String">
    delete from oa_book_manage where id in
    <foreach item="id" collection="array" open="(" separator="," close=")">
      #{id}
    </foreach>
  </delete>
  <insert id="insertSelective" parameterType="com.bank.project.oa.domain.BookManage">
    insert into oa_book_manage
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        name,
      </if>
      <if test="press != null">
        press,
      </if>
      <if test="summary != null">
        summary,
      </if>
      <if test="status != null">
        status,
      </if>
      create_time,update_time
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="press != null">
        #{press,jdbcType=VARCHAR},
      </if>
      <if test="summary != null">
        #{summary,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      sysdate(),sysdate()
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bank.project.oa.domain.BookManage">
    update oa_book_manage
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="press != null">
        press = #{press,jdbcType=VARCHAR},
      </if>
      <if test="summary != null">
        summary = #{summary,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByExample" parameterType="com.bank.project.oa.domain.UserPlan" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from oa_book_manage
    <where>
      <if test="name != null and name != ''">
        name like '%${name}%'
      </if>
    </where>
  </select>
</mapper>