<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bank.project.oa.mapper.UserDocMapper">
  <resultMap id="BaseResultMap" type="com.bank.project.oa.domain.UserDoc">
    <id column="id" jdbcType="BIGINT" property="id" />
    <id column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="gender" jdbcType="VARCHAR" property="gender" />
    <result column="user_no" jdbcType="VARCHAR" property="userNo" />
    <result column="birth" jdbcType="VARCHAR" property="birth" />
    <result column="education" jdbcType="VARCHAR" property="education" />
    <result column="graduate_school" jdbcType="VARCHAR" property="graduateSchool" />
    <result column="graduate_date" jdbcType="VARCHAR" property="graduateDate" />
    <result column="domicile" jdbcType="VARCHAR" property="domicile" />
    <result column="politics_status" jdbcType="VARCHAR" property="politicsStatus" />
    <result column="entry_date" jdbcType="VARCHAR" property="entryDate" />
    <result column="leave_date" jdbcType="VARCHAR" property="leaveDate" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id,user_id, name, gender, user_no, birth, education, graduate_school, graduate_date, domicile,
    politics_status, entry_date, leave_date, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from oa_user_doc
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from oa_user_doc
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByIds" parameterType="String">
    delete from oa_user_doc where id in
    <foreach item="id" collection="array" open="(" separator="," close=")">
      #{id}
    </foreach>
  </delete>
  <insert id="insertSelective" parameterType="com.bank.project.oa.domain.UserDoc">
    insert into oa_user_doc
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="gender != null">
        gender,
      </if>
      <if test="userNo != null">
        user_no,
      </if>
      <if test="birth != null">
        birth,
      </if>
      <if test="education != null">
        education,
      </if>
      <if test="graduateSchool != null">
        graduate_school,
      </if>
      <if test="graduateDate != null">
        graduate_date,
      </if>
      <if test="domicile != null">
        domicile,
      </if>
      <if test="politicsStatus != null">
        politics_status,
      </if>
      <if test="entryDate != null">
        entry_date,
      </if>
      <if test="leaveDate != null">
        leave_date,
      </if>
      create_time,update_time
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=VARCHAR},
      </if>
      <if test="userNo != null">
        #{userNo,jdbcType=VARCHAR},
      </if>
      <if test="birth != null">
        #{birth,jdbcType=VARCHAR},
      </if>
      <if test="education != null">
        #{education,jdbcType=VARCHAR},
      </if>
      <if test="graduateSchool != null">
        #{graduateSchool,jdbcType=VARCHAR},
      </if>
      <if test="graduateDate != null">
        #{graduateDate,jdbcType=VARCHAR},
      </if>
      <if test="domicile != null">
        #{domicile,jdbcType=VARCHAR},
      </if>
      <if test="politicsStatus != null">
        #{politicsStatus,jdbcType=VARCHAR},
      </if>
      <if test="entryDate != null">
        #{entryDate,jdbcType=VARCHAR},
      </if>
      <if test="leaveDate != null">
        #{leaveDate,jdbcType=VARCHAR},
      </if>
      sysdate(),sysdate()
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bank.project.oa.domain.UserDoc">
    update oa_user_doc
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        gender = #{gender,jdbcType=VARCHAR},
      </if>
      <if test="userNo != null">
        user_no = #{userNo,jdbcType=VARCHAR},
      </if>
      <if test="birth != null">
        birth = #{birth,jdbcType=VARCHAR},
      </if>
      <if test="education != null">
        education = #{education,jdbcType=VARCHAR},
      </if>
      <if test="graduateSchool != null">
        graduate_school = #{graduateSchool,jdbcType=VARCHAR},
      </if>
      <if test="graduateDate != null">
        graduate_date = #{graduateDate,jdbcType=VARCHAR},
      </if>
      <if test="domicile != null">
        domicile = #{domicile,jdbcType=VARCHAR},
      </if>
      <if test="politicsStatus != null">
        politics_status = #{politicsStatus,jdbcType=VARCHAR},
      </if>
      <if test="entryDate != null">
        entry_date = #{entryDate,jdbcType=VARCHAR},
      </if>
      <if test="leaveDate != null">
        leave_date = #{leaveDate,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByExample" parameterType="com.bank.project.oa.domain.UserDoc" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from oa_user_doc
    <where>
      <if test="name != null and name != ''">
        name like '%${name}%'
      </if>
    </where>
  </select>
</mapper>